---
title: Projects
---
<section id="projects" class="section">
  <div class="content">
    <div class="projects-grid">
      <div class="project-item">
        <div class="project-title"><a href="https://upscaledb.com">upscaledb</a></div>
        <div class="project-description">
          A blazingly fast C/C++ embedded database library with analytical functions.
        </div>
      </div>

      <div class="project-item">
        <div class="project-title"><a href="https://github.com/cruppstahl/upscaledb-mysql">upscaledb-mysql</a>
        </div>
        <div class="project-description">
          Proof of concept for a MySQL storage engine based on upscaledb
        </div>
      </div>

      <div class="project-item">
        <div class="project-title"><a href="https://github.com/cruppstahl/libfor">libfor</a></div>
        <div class="project-description">
          C library for Frame Of Reference 32bit integer compression
        </div>
      </div>

      <div class="project-item">
        <div class="project-title"><a href="https://github.com/cruppstahl/libvbyte">libvbyte</a></div>
        <div class="project-description">
          C library for Varbyte/Varint 32bit/64bit integer compression w/ SIMD.
        </div>
      </div>

      <div class="project-item">
        <div class="project-title"><a href="https://github.com/cruppstahl/sparsemap">sparsemap</a></div>
        <div class="project-description">
          C libary for storing sparse, compressed bitmaps.
        </div>
      </div>

      <div class="project-item">
        <div class="project-title"><a href="https://arxiv.org/abs/1709.08990">Research: Stream VByte</a></div>
        <div class="project-description">
          Stream VByte: Faster Byte-Oriented Integer Compression (2017).
        </div>
      </div>

      <div class="project-item">
        <div class="project-title"><a href="https://arxiv.org/abs/1611.05428">Research: Key Compression</a>
        </div>
        <div class="project-description">
          Upscaledb: Efficient Integer-Key Compression in a Key-Value Store using SIMD Instructions (2016).
        </div>
      </div>
    </div>
  </div>
</section>
